In [6]:
from scripts import load_uci, load_tidepool_dummy

In [7]:
df = load_uci()
print(df.shape)
df.head()

45 records failed to convert to date
(19490, 5)

,Code,Value,person_id,code_cat,date_time
0,58,100,1,Pre-breakfast blood glucose measurement,1991-04-21 09:09:00
1,33,9,1,Regular insulin dose,1991-04-21 09:09:00
2,34,13,1,NPH insulin dose,1991-04-21 09:09:00
3,62,119,1,Pre-supper blood glucose measurement,1991-04-21 17:08:00
4,33,7,1,Regular insulin dose,1991-04-21 17:08:00

In [8]:
df = load_tidepool_dummy()
print(df.shape)
df.head()

(2196, 54)

,jsonRowIndex,annotations,clockDriftOffset,conversionOffset,deliveryType,deviceId,deviceTime,duration,expectedDuration,guid,...,state,timeProcessing,timezone,version,bgInput,bolus,carbInput,insulinCarbRatio,insulinOnBoard,recommended
0,2193,NaN,0.0,0,scheduled,InsOmn-130346997,2017-12-31T18:00:00,14400000.0,NaN,6b6b6e42-abcf-4554-b121-7074a0918484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2190,NaN,0.0,0,scheduled,InsOmn-130346997,2017-12-31T22:00:00,7200000.0,NaN,cc62b7b6-227c-4bef-9883-b88066063706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2188,NaN,0.0,0,scheduled,InsOmn-130346997,2018-01-01T00:00:00,12600000.0,NaN,5f37715a-3589-4283-8d88-f9398f14c2d3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2185,NaN,0.0,0,scheduled,InsOmn-130346997,2018-01-01T03:30:00,7200000.0,NaN,f9aeb728-6723-4f3d-8a03-cd8854a459bb,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2184,NaN,0.0,0,scheduled,InsOmn-130346997,2018-01-01T05:30:00,10163000.0,NaN,bab3ca8e-f663-4299-a1c9-60b5b766a868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN